<html>
  <head>
    <link rel="stylesheets" href="/scripts/simplemde/dist/simplemde.min.css"/>
  </head>
  <body>
    <textarea></textarea>
    <script src="/scripts/simplemde/dist/simplemde.min.js"></script>
    <script>
      var simplemde = new SimpleMDE();
    </script>
  </body>
</html>