<div class="container-fluid p-0" style="overflow:hidden;">
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-outline-dark btn-lg btn-block" 
        onclick="Javascript: appec.common.redirectTo('/post/all/1', 'current')"
        style="border-radius:0px; border-left:0; border-right:0;font-weight: 900;">
        more posts <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA3klEQVRYR+2UwQ3CMBAEJx1QEnQAHUAHlAIdQAd0AnRACVABaCXnh5S781n++L6JsuPJrSc6z9Q5nwEwDEQMrIB31vJGAO7AJgsiAvAFXsAOeNSaiAIoV79BJqogagDmwx+AS9REBoCyj8A5ApEFoGxZkA3XZAIo+FYgzDXNBhCEltJc0xYAgjDXtBXAFdhblqEFgNqgVpgmG8B9J2QBfIpytcA1GQAKX0ev5FqAJ7AtW+86+fxyDYDCdXLzpfOPMApgrtmSlgjAyVOzFgBL33Q9jxhwBSy9PACGge4GfjZYLSEIUffOAAAAAElFTkSuQmCC"/>
      </button>
    </div>
  </div>
</div>